@import "./common/index.scss";

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.layer {
    background-color: $color-backoground-layer;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.form__registration {
    background-color: $color-white;
    // width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

h1 {
    text-transform: uppercase;
}

input {
    display: inline-block;
    @include font($font-regular, $font-md, 19px, $color-gray, none);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    // width: 330px;
    margin-right: 30px;
    padding: 10px;
}

.input__list {
    margin-bottom: 40px;
    &:nth-last-child(1) {
        margin-right: 0px;
    }
}

.button__submit {
    background-color: $color-button;
    @include font($font-regular, $font-sm, 16px, $color-white, none);
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    padding: 19px 41px 20px 41px;
    margin-right: 34px;
    letter-spacing: 0.15em;
    display: inline-block;
}

.arrow::after {
    content: '';
    display: inline-block;
    background: url(../images/icons/arrow__before__after!!!.svg);
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.button__closeform {
    background-color: $color-backoground-layer;
    border: 0px;
}

.title {
    @include font($font-light, $font-xl, 45px, $color-text, none);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0px;
    max-width: 673px;
}

.text {
    @include font($font-regular, $font-xm, 15px, $color-text-form, none);
    width: 309px;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

.text span {
    text-decoration: underline;
}

.quit {
    position: absolute;
    top: -28px;
    right: -9px;
}