$font-xxl: 40px;
$font-xl: 30px;
$font-lgg: 20px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xm: 13px;

$font-light: 300;
$font-regular: 400;

$color-white: #ffffff;
$color-text: #3D3D3D;
$color-backoground-layer: rgba(0, 0, 0, 0.6);
$color-text-form: #ADADAD;
$color-lines: #D5D5D5;
$color-footer: #F7F7F7;
$color-button: #393246;
$color-button-pressed: #4A415A;
$color-button-bressed2: #63557C;
$color-line-red: solid #EB5757;

$breakpoints: (
    "phone":        320px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
);

// .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//   }
